.authorTaps{
    width: 100%;
    margin:  8rem 0 3rem 0;
}

.authorTaps_box{
    width: 80%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
}

.authorTaps_box_left_btn{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.authorTaps_box_left_btn button{
    border: 1px solid var(--icons-color);
    outline: 0;
    background-color: var(--main-bg-color);
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .3s ease-in;
    color: var(--icons-color);
}

.authorTaps_box_left_btn .active{
    border:  1px solid var(--icons-color);
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

.authorTaps_box_left_btn button:hover{
    border: 1px solid var(--icons-color);
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

.authorTaps_box_right{
    position: relative;
}

.authorTaps_box_right_para{
    border: 1px solid var(--icons-color);
    border-radius: 2rem;
    width: 17.5rem;
    padding: 0 2rem;
    display: grid;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    grid-template-columns: 9fr 1fr;
}

.authorTaps_box_right_para p{
    font-size: 1.2rem;
    line-height: .5;
}


.authorTaps_box_right_list{
    background-color: var(--main-bg-color);
    padding: 1rem;
    width: 16rem;
    left: -3rem;
    position: absolute;
    border-radius: 1rem;
    margin-top: 1.5rem;
    box-shadow: var(--box-shadow);
    z-index: 11111111111;
}

.authorTaps_box_right_list_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
    padding-right: 1rem;
}

.authorTaps_box_right_list_item p{
    transition:  all .3s ease-in;
    padding: 0 1rem;
    line-height: 1;
    cursor: pointer;
}

.authorTaps_box_right_list_item:hover{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    border-radius: .2rem;
}